.topContainer{
    display: flex;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #474444;
}

.sideBar{
    background-color: #FFFFFF;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.mainSection{
    /* background-color: #ebf0f4; */
    background-color: #EDEDED;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuresDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 38%;
    width: 100%;
    text-align: center;
}

.appName{
    font-size: 45px;
    /* letter-spacing: 2px; */
    font-family: "Jomhuria", serif;
    font-style: normal;
    /* color: #273564; */
    /* color: #474444; */
    cursor: pointer;
    text-align: center;
}

.features{
    margin: auto;
    width: 82%;
    height: 30px;
    border-radius: 8px;
    padding-top: 2px;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #474444;
    font-size: 15px;
    
}